.white-section.br_editor {
	max-width: 1170px;
	margin: 0 auto;
	padding: 40px 15px;
	overflow: hidden;

.skinny-cols .skinny-col {
  float: left;
  p {
    padding-right: 0px;
  }
  &:first-child {
    &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
      width: 100%;
      ~ .skinny-col {
        width: 100%;
      }
    }
  }
}

@include media(">=tablet") {

	.skinny-cols .skinny-col {
	  padding: 0 10px;
	  &:last-child p {
	    padding-right: 0px;
	  }
	  &:first-child {
	    &:nth-last-child(1) {
	      width: 100%;
	      ~ .skinny-col {
	        width: 100%;
	      }
	    }
	    &:nth-last-child(2) {
	      width: 50%;
	      ~ .skinny-col {
	        width: 50%;
	      }
	    }
	    &:nth-last-child(3) {
	      width: 33.3%;
	      ~ .skinny-col {
	        width: 33.3%;
	      }
	    }
	    &:nth-last-child(4) {
	      width: 25%;
	      ~ .skinny-col {
	        width: 25%;
	      }
	    }
	  }
	}
}
}

/*--------------------------------------------------------------
## Tabs & Toggles
--------------------------------------------------------------*/

.accordion {
	max-width: 800px;
	margin: 60px auto;
	border-top: 1px solid #d9e5e8;
}
ul.accordion {
	padding-left: 0;
}
.accordion li {
	border-bottom: 1px solid #d9e5e8;
	position: relative;
	list-style: none;
}
.accordion li p {
	display: none;
	padding: 10px 25px 30px;
}
.accordion a {
	width: 100%;
	display: block;
	cursor: pointer;
	font-weight: 600;
	line-height: 3;
	font-size: 16px;
	font-size: 0.875rem;
	text-indent: 15px;
	user-select: none;
	color: $woodsmoke;
}
.accordion a:after {
	width: 8px;
	height: 8px;
	border-right: 1px solid #4a6e78;
	border-bottom: 1px solid #4a6e78;
	position: absolute;
	right: 10px;
	content: " ";
	top: 17px;
	transform: rotate(-45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.accordion p {
	padding: 10px;
}

a.active:after {
	transform: rotate(45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


#video-background {
	display: none;
	@include media(">=tablet") {
		display: block;
	}
/*  making the video fullscreen  */
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  width: auto; 
  height: 100vh;
}
.skinny-cover {
	@include media(">=tablet") {
		display: none;
	}
}